/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*=============== VARIABLES ===============*/
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

:root {
  --accent-color: #0095ff;
  /* background: linear-gradient(to bottom,rgba(255, 0, 0, 0.71),rgba(0, 0, 255, 0.468)); */
  background: url('neo-home.mp4') cover;
  --background-color-2: #ffffff46;
  backdrop-filter: blur(80px);
  --light-grey: rgb(194, 194, 194);
  --border-radius: 11px;
}

/*=============== SCROLLBAR ===============*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.content:hover::-webkit-scrollbar-thumb {
  background: var(--light-grey);
}

/*=============== BASE ===============*/

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

p {
  line-height: 1.5rem;
  margin-bottom: 0.7rem;
}
#welcome-section h1{
  color: #0095ff;
  text-shadow: 2px 2px 2px #000000;
  background-color: rgba(255, 255, 255, 0.705);
  box-shadow: 1px 2px 30px 20px white;
  
}
h1 {
  line-height: 3.5rem;
  text-align: center;
  color: black;

}
.header h1{
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 20px black;
}
h2 {
  line-height: 2rem;
  font-weight: normal;
  text-align: center;
  color: rgb(30, 176, 244);
  font-weight: 700;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#welcome-section{
  background: url('progback.png');
  height: 100%;
  width: 100%;
  margin: 0px;
  
}
/*=============== MENU ===============*/

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 2;
  background: #fff;
  width: 70px;
  margin-left: 20px;
  border-radius: 35px;
  padding: 15px 0;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}

.menu-icon {
  font-size: 2rem;
  color: var(--light-grey);
  margin: 15px;
}

.menu-icon:hover {
  color: var(--accent-color);
}

/*=============== PORTFOLIO CONTAINER ===============*/

.portfolio {
  display: flex;
  background: var(--background-color-2);
  height: 80vh;
  width: 85vw;
  max-width: 1200px;
  border-radius: var(--border-radius);
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.76);
}

/*=============== HEADER ===============*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 100%;
  backdrop-filter: blur(7px);
  border-radius: var(--border-radius);
  color: white;
  overflow: auto;
}

.header-img {
  width: 90%;
  height: auto;
  border-radius: 20px;
  margin: 10px;
  margin-top: 6px;
  border: 4px solid black;
}

.header h1 {
  font-size: 2.5rem;
}

.header h2 {
  font-size: 1rem;
}

.socials {
  margin: 20px;
}

.socials a {
  color: white;
  margin: 0 12px;
  transition: 0.2s linear;
  transition-property: background-color, color;
}

.socials a:hover {
  color: var(--accent-color);
  transition: 0.2s linear;
  transition-property: background-color, color;
}

.header .cta {
  color: #0f0f0f;
  background-color: rgba(255, 255, 255, 0.747);
  padding: 20px 40px;
  margin: 30px 0;
  border-radius: 30px;
  font-weight: 700;
  transition: 0.2s linear;
  transition-property: background-color, color;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.1);
}

.header .cta:hover {
  color: var(--accent-color);
  background-color: #fff;
  transition: 0.2s linear;
  transition-property: background-color, color;
}

/*=============== CONTENT ===============*/

.content {
  border-radius: var(--border-radius);
  background: white;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0 50px;
}

/*=============== HOME SECTION ===============*/

.home h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  text-align: center;
  margin: 20px;
}

/*=============== ABOUT SECTION ===============*/

.about {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 26px;
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0.495),rgba(24, 205, 198, 0.53), rgba(255, 255, 255, 0.226));

}

.about-item {
  width: 100%;
  margin: 0.5rem 0;
}

.language {
  margin-bottom: 15px;
}

.language p {
  margin: 10px;
}

.bar {
  background: rgba(0, 0, 0, 0.1);
  display: block;
  height: 8px;
  border-radius: 10px;
  overflow: hidden;
}

.bar span {
  height: 8px;
  float: left;
  background: var(--accent-color);
}

.language{
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.skill {
  background-color: var(--accent-color);
  color: #fff;
  line-height: 40px;
  margin: 4px;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 15px;
  box-shadow: 1px 2px 4px black;
}

/*=============== PROJECTS SECTION ===============*/

.certification {
  justify-content: center;
  margin: 50px;
  display: inline-flex;
  padding: 20px;
  flex-direction: column;  
  
}
.certification-card p{
  /* border: 5px solid black; */
  border-radius: 30px 10px;
  display: inline-flex;
  padding: 10px;
  text-align: center;
  margin: 20px;
  width: 250px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 1px 2px 20px black;
}

.certification-card img{
  border-radius: 50px;
}


/*=============== EXPERIENCE SECTION ===============*/

.timeline {
  position: relative;


}
#education{
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0.164),rgba(250, 237, 84, 0.63),rgba(255, 255, 255, 0));
  margin: 0px;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 2px;
  top: 55px;
  height: calc(100% - 100px);
  background-color: var(--accent-color);
  z-index: 100;
  
}

.timeline-date {
  position: relative;
}

.timeline-date::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  left: -25px;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.timeline-items {
  margin-left: 20px;
}

.timeline-item {
  margin: 50px 0;
}

#contact h2{
  font-family:Arial, Helvetica, sans-serif;
}
/*=============== FORM ===============*/

form {
  width: 100%;
  max-width: 600px;
}

.input-box {
  display: flex;
  align-items: center;
}

.input-box input,
textarea {
  width: 100%;
  margin: 1rem;
  color: var(--accent-color);
  font-size: 1rem;
  padding-left: 0.3rem;
}

.input-box input::placeholder,
textarea::placeholder {
  color: var(--accent-color);
  font-size: 1rem;
  padding-left: 0.3rem;
}

.input-box textarea::placeholder {
  padding-top: 0.3rem;
}

.input-box input:focus,
textarea:focus {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}

.text-input {
  height: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px var(--accent-color);
}

textarea {
  height: 4rem;
  border: none;
  border-bottom: solid 2px var(--accent-color);
}

.submit-btn {
  color: var(--accent-color);
  background-color: #fff;
  padding: 10px 20px;
  margin: 50px 0;
  border-radius: 30px;
  border: none;
  transition: 0.2s linear;
  transition-property: background-color, color;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
  color: #fff;
  background-color: var(--accent-color);
  transition: 0.2s linear;
  transition-property: background-color, color;
  cursor: pointer;
}

/*=============== MEDIA QUERY ===============*/

@media screen and (max-width: 1200px) {
  html {
    scroll-behavior: smooth;
  }
  .container {
    height: auto;
    flex-direction: column;
  }
  .portfolio {
    flex-direction: column;
    height: 100%;
    margin: 30px 0 100px;
  }
  .content {
    padding-bottom: 100px;
  }
  .header {
    width: 100%;
    height: 100%;
  }
  .content-card {
    padding: 100px 0 0;
  }
  .menu {
    flex-direction: row;
    position: fixed;
    bottom: 15px;
    z-index: 1000;
    width: auto;
    height: fit-content;
    border-radius: 50px;
    margin: 0;
  }
  .menu-icon {
    font-size: 2rem;
    margin: 0 15px;
  }
  .home h1 {
    font-size: 3rem;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--background-color);
  }

  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
  }
}

@media screen and (max-width: 750px) {
  .col-2 {
    grid-template-columns: 1fr;
  }

  .menu-icon {
    font-size: 1.5rem;
  }

  ::-webkit-scrollbar {
    display: none;
  }

@media screen and (max-width: 400px) {
  .content-card {
    margin: 0 30px;
  }
  .home h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/* A little cheat to trick the freecodecamp certification test. It requires 
the navbar to be on top of the viewport, but I've already done that in previous 
projects and I think in this one it looks more interesting on the side.
I hope the freecodecamp team won't be mad at me :) */
#navbar {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}